{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}


<!-- Listataan tehtävät.--->
<h2> Tervetuloa! </h2>
<div>
    <h3>Viime aikoina tapahtunutta</h3>
    <ul>
        {% for task in tasks %}
            <li>{{task[1]}} | <em>{{task[0]}}</em> | <a href="/view/comments/{{ task[2] }}">Kommentoi</a> </li>
        {% endfor %}
    </ul>
    <p>Jätä kommentti tsempataksesi tai esittääksesi kysymyksiä!</p>
</div>

<div>
<h3>Uusi aihepiiri</h3>

<p>Sovelluksen "taskset"it kokoavat tekemäsi tomaatit jonkin teeman alle. Nimeämällä kokonaisuutesi hyvin
    voit auttaa muita löytämään syötteesi! </p>

<form action="/newtaskset", method="post">
    Aihe: <input type = "text" name = "new_taskset_name" />
    <input type = "submit" value = "Lisää" />
 </form>


 <h3>Uusi tomaatti</h3>
 <p>Tomaatit ovat ~25 minuutin aikaviipaleita. Jätä lyhyt kuvaus tekemisistäsi jonkin tehtäväkokonaisuuden parissa!</p>
 
 <form action="/addnewtomato", method="POST">
    <p>Valitse aihepiiri</p>
        <select input type="text" name ="tomato_name">
        {% for item in tasksets %}
            <option value="{{ item[0] }}">{{ item[1]}}</option>
        {% endfor %}
        </select>
        <input type = "text" name = "tomato_subject" />
        <input type = "submit" value = "Lisää" />

    </form>
        
</div>
{% else %}
    Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}
   
{% endblock  %}




