{% extends "layout.html" %}
{% block content %}
<h2> Sisältöä</h2>
{% if session.user_id %}
    Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>

<!-- Listataan tehtävät.--->
<div>
    <p>Tämä on tehtävälistan div</p>
    <ul>
        {% for task in tasks %}
            <li>{{task[0]}} | {{task[1]}} | <a href="/comments/{{ task[2] }}">Kommentoi</a> </li>
        {% endfor %}
    </ul>
</div>
<div>
<p>Tähän diviin tulee uuden postin käyttöliittymä</p>

</div>
{% else %}
    Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>
{% endif %}

    
{% endblock  %}




